$color-primary: #0B2F50;
$color-secondary: #0073BB;
$color-secondary-light:#4fbbff;
$color-grey-dark: #666666;
$color-grey-light: #dbe3ea;
$color-white: #fff;
$border-color: #cccccc;

$default-font-size: 1.6rem;